
.header{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}
.header .inner-header{
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.header .inner-header .nav{
  flex: 0 1 960px;
  height: auto;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav h1.logo{
  flex: 0 0 120px;
  height: auto;
}
.header .inner-header .nav h1.logo img{
  width: 100%;
  height: auto;
  display: block;
}
.header .inner-header .nav .gnb{
  flex: 0 1 500px;
  height: auto;
  /* border: 1px solid; */
  padding: 20px 0;
  box-sizing: border-box;
}
.header .inner-header .nav .gnb >ul{
  display: flex;
  justify-content: space-between;
}
.header .inner-header .nav .gnb >ul>li{
  /* border: 1px solid; */
  box-sizing: border-box;
  flex: 1;
  text-align: center;
  line-height: 20px;
  position: relative;
  z-index: 10;
}
.header .inner-header .nav .gnb >ul>li a{
  position: relative;
}
.header .inner-header .nav .gnb >ul>li a::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  position: absolute;
  background-color: #f00;
  left: 0;
  bottom: -2px;
}
/* .header .inner-header .nav .gnb >ul>li>a:hover::after{
  width: 100%;
} */
/* a에 호버하든 li하든 비슷한 건데 조금 다른 거
a에 호버하면 a를 벗어나면, 즉 조금만 벗어나면 밑줄이 사라지지만
li에 호버하면 li가 범위가 크기 때문에 sub에 내려가도 밑줄 쉽사리 사라지지 않음 */
.header .inner-header .nav .gnb >ul>li:hover >a::after{
  width: 100%;
}
.header .inner-header .nav .gnb >ul>li ul.sub{
  display: none;
  /* sub가 li중심으로 뜨기 위해서는 li에는 relative주고 sub에는 absolute준다 */
  /* sub메뉴들이 생길 때 안에서 커지지 말고 따로 커지며 나오게 하기 위해 */
  position: absolute;
  background-color: #ccc;
  /* 반드시 width값 주어야 한다 */
  width: 100%;
  /* 위치도 조정할 수 있음 */
  /* left: 50%; */
  left: 0;
  /* bottom: -80px; */
  top: 25px;
}
.header .inner-header .nav .gnb >ul>li ul.sub a{
  display: block;
  background-color: rgba(0, 0, 0, 0.397);
  color: #fff;
}
.header .inner-header .nav .gnb >ul>li ul.sub a:hover{
  display: block;
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
}
.header .inner-header .nav .gnb >ul>li:hover ul.sub{
  display: block;
}

@media only screen and (max-width:767px){
  .header .inner-header{
    padding: 14px 0;
  }
}

@media only screen and (max-width:640px){
  .header .inner-header{
    padding: 10px 0;
  }
  .header .inner-header .nav .gnb{
    display: none;
  }
  .header .inner-header .nav{
    display: flex;
    justify-content: center;
  }
}